body{
    margin: 0;
    font-family: 'Karla', sans-serif;
    

}


.container{
    height: 40rem;
    width: 60rem;
    margin: auto;
    background-color: grey;
    margin-top: 2rem;
}
.row1{
    padding: 2.3rem;
}
.row1 h2{
    color: hsl(179, 62%, 43%);
}
.row2{
    display: flex;
}